<!DOCTYPE html>
<html id="ng-app" ng-app="piwikApp">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex,nofollow">
        {% include "_jsGlobalVariables.twig" %}
        <!--[if lt IE 9]>
        <script language="javascript" type="text/javascript" src="libs/jqplot/excanvas.min.js"></script>
        <![endif]-->
        {% include "_jsCssIncludes.twig" %}
    </head>
    <body ng-app="app" class="widgetized">
        <div piwik-popover-handler></div>
        <div class="widget">
            {{ content|raw }}
        </div>
		<script>

		$(function(){
			   var url = '';
			   var nr = -1;

			   var sendSize = function(){
					   $.postMessage(nr + ':' + $('body').outerHeight(true), url, parent);
			   };

			   $('body').resize(function(e){ sendSize(); });

			   $.receiveMessage(function(e){
					   if(e.data.match(/getSize:([0-9]+):(.+)/)){
							   nr = RegExp.$1;
							   url = decodeURIComponent(RegExp.$2);
							   sendSize();
					   }
			   });
		});

		</script>
    </body>
</html>
